:root {
  --blue: #234E70;
  --light-yellow: #FBF8BE;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: center;
}

.card, .card-body, form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}