:root {
  --gray: #CCCCCC;
  --black: #000000;
  --blue: #59A5D8;
  --dark-blue: #133C55;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

a:hover {
  color: var(--blue);
}

html,
body {
  font-family: 'Inconsolata', monospace;
  background-repeat: no-repeat;
}

.header {
  font-size: 35px;
  display: flex;
  justify-content: center;
  color: var(--black);
  background-color: var(--gray);
  border-bottom: 1px solid black;
}

.card-body {
  font-size: 30px;
  color: var(--black);
}

.card, .card-body, form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.form-input, .button {
  margin-bottom: 10px;
}

.button {
display:inline-block;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family: 'Inconsolata', monospace;
font-weight:400;
color: var(--black);
background-color: var(--blue);
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
}

.button:hover {
  background-color: var(--dark-blue);
  color: var(--gray);
}

.page-title {
  display: flex;
  justify-content: center;
}

.user-habits {
  display: flex;
  flex-direction: row;
}

.habit-card {
  background-color: var(--gray);
  border-radius: 5px;
  max-width: 20%;
  margin: 50px auto;
  padding: 15px;
  width: 960px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color: var(--black);
}