:root {
  --gray: #CCCCCC;
  --black: #000000;
  --blue: ##468189;
  --dark-blue: #133C55;
  --sand: #f4e9cdd4 ;
  --lighter-blue: #9dbebb;
  --greenish: #77aca2;
  --iron: #031926;
  --crimson: crimson;
  
}

* {
  box-sizing: border-box;
  margin: 0%;
  
  
}

a {
  color: var(--iron);
  text-decoration: none;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

a:hover {
  color: var(--sand);
}

.greeting-link {
  justify-content: none;
}

html,
body {
  font-family: 'Inconsolata', monospace;
  background-repeat: no-repeat;
}

.header {
  font-size: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--black);
 
  background-color:rgba(0, 139, 139, 0.681);
  border-bottom: 1px solid black;
  width: 100%;
  
}

.greeting-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 5%;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--sand);

}

.wrong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 5%;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--crimson);

}


@media (max-width:1023px) {
  .header {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    color: var(--black);
    background-color:rgba(0, 139, 139, 0.681);
    border-bottom: 1px solid black;
    width: 100%;
  }
}
.habit-calendar{
  
}
.header-options {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-right: 10px;
}

.header-options a {
  padding: 0 20px;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 padding: 1%;
 background-color: var(--lighter-blue);
  text-align: center;
}

@media (max-width:1023px) {
  .header-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-end;
  }
}

.header-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 15%;
}

.header-title:hover {
  color: var(--sand);
}

.card-body {
  font-size: 30px;
  color: var(--black);
}
.login { 
padding-bottom: 3%;
}
.card, .card-body, form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding:3%;
  border-radius: 25px;
}
 .card{
  background-color: var(--sand);
}

.form-input, .button {
  margin-bottom: 10px;
}

.button, .habit-button {
display:inline-block;
padding:0.7em 1.4em;
margin:0 0.3em 0.3em 0;
border-radius:0.15em;
box-sizing: border-box;
text-decoration:none;
text-transform:uppercase;
font-family: 'Inconsolata', monospace;
font-weight:400;
color: var(--black);
background-color: var(--blue);
box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
text-align:center;
position:relative;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
}

.button:hover, .habit-button:hover {
  background-color: var(--dark-blue);
  color: var(--gray);
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.habit-button {
margin-left: 50px;
}

.page-title {
  display: flex;
  justify-content: center;
}
.page-stuff{
  display: flex;
  justify-content: center;
  font-size: 150%;
  font-weight: bold;
  padding:3%;
}
.login-stuff{
  display: flex;
  justify-content: center;
  font-size: 50%;
  font-weight:normal;
  padding:3%;
  text-align: center;
}
.signup-link{
  display: flex;
  justify-content: center;
  font-size: 50%;
  font-weight:bold;
  
}

.habit-card {
  border-radius: 5px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: var(--black);
  
}

.habit-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
  margin-top: 1%;
  padding: 25px;
  border-radius: 25px;
  background-color: var(--sand);
  
}
.something {
 
  margin: 2%;
}

.habit-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  
}
.day {
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; */
  box-sizing: border-box;
  border: 1px solid black;
  margin: 5px auto 0 auto;;
  height: 100%;
  box-shadow: 10px 10px var(--lighter-blue);
}

.day-content {
  padding: 10%;
}

.day-card {
  padding: 15px 0;
  background-color: var(--dark-blue);
}

.habit-day {
  text-align: center;
  color: white;
}
.habit-log {
  text-align: center;
  padding-top: 5%;
 font-size: larger;
  font-weight: bolder;
}
.logText{
  padding-top: 2%;
  font-weight: lighter;
}

@media (min-width:1440px) {
  .tracked-days {
    display: grid;
    /* we may need to lower the repeat number...spills off the page for me(Dan) */
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 250px 250px 250px;
    gap: 20px;
    row-gap: 50px;
    margin: 50px;
  }
}

@media (max-width:1440px) {
  .tracked-days {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 250px);
    gap: 20px;
    row-gap: 50px;
    grid-auto-flow: row;
    margin: 50px;
  }
}


.answer-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}